/*STYLING FOR SHARED ELEMENTS*/

body {
    font-family: 'Lato', sans-serif;
    margin: 5vh 0vw;
    height: 90vh;
    width: 95vw;
    display: flex;
}

.navbar {
    border-bottom: solid 1px #e0a800;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.navbar-brand {
    color: #0c314e;
}

.icon-bar {
    color: black;
}

.form-inline {
    display: flex;
    flex-direction: row;
    height: 3.5vh;
    align-self: center;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.directory-btn {
    border-radius: 0 25px 25px 0;
}

.directory-btn:focus {
    outline: none;
}

.container {
    padding: 0;
    margin: 0;
}

/*STYLING FOR INDEX ELEMENTS*/

.section-wrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.alert {
    margin-top: 2px;
    text-align: center;
}


/*STYLING FOR HELP ELEMENTS*/