@page
@model LogManagerWebApp.Pages.Logs.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Log List</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">Search</button>
            </span>
        </div>
    </div>
</form>