@page
@model LogManagerWebApp.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <div class="section-wrapper page-center">
        <div class="section-title">
            <h2>Whoops!</h2>
            <h4>Something went wrong..</h4>
        </div>
        <div class="section-body">
            <p>Please wait a few moments then try again.</p>
            <p>If the problem persists then feel free to get in contact at</p>
            <p>joshlee.dev@gmail.com</p>
        </div>
    </div>