@page
@model IndexModel

    <div class="section-wrapper">
        <div class="alert alert-success">
            <strong>Directory Updated:</strong> A valid directory was entered and the current directory was updated successfully.
        </div>
        <h2 class="section-title">@Model.Title</h2>
    </div>