@page
@model IndexModel

    <div class="section-wrapper">

        <h2 class="section-title">@Model.Title</h2>
        <h2 class="section-title">@Model.Title</h2>
        <h2 class="section-title">@Model.Title</h2>
    </div>